samples/framework/workflow foundation/Microsoft WF Azure Activity Pack CTP 1 Sample/Source/UIWebRole/Service References/FileServiceReference/FileService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:25092/FileService.xamlx?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SharedLib" />
  <xs:element name="StoreFileEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SharedLib" minOccurs="0" name="FileInfo" nillable="true" type="q1:FileInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreFileEntityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsSuccessful" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>