samples/snippets/xml/VS_Snippets_Data/Classic Webdata XmlSchemaMinExclusiveFacet Example/XML/example.xsd

<!--<Snippet2>-->
<?xml version="1.0" encoding="IBM437"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:simpleType name="OrderQuantityType">
		<xs:restriction base="xs:int">
			<xs:minExclusive value="5"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="item">
		<xs:complexType>
			<xs:attribute name="OrderQuantity" type="OrderQuantityType"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
<!--</Snippet2>-->