samples/snippets/visualbasic/VS_Snippets_Remoting/DescriptionNamespaceSample1/VB/MathService_input_vb.wsdl

<?xml version="1.0" encoding="utf-8"?>

<definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:urt="http://microsoft.com/urt/wsdl/text/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:s0="http://tempuri.org/" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">

  <types>

    <s:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://tempuri.org/">

      <s:element name="Add">

        <s:complexType>

          <s:sequence>

            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:float" />

            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:float" />

          </s:sequence>

        </s:complexType>

      </s:element>

      <s:element name="AddResponse">

        <s:complexType>

          <s:sequence>

            <s:element minOccurs="1" maxOccurs="1" name="AddResult" type="s:float" />

          </s:sequence>

        </s:complexType>

      </s:element>

      <s:element name="Subtract">

        <s:complexType>

          <s:sequence>

            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:float" />

            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:float" />

          </s:sequence>

        </s:complexType>

      </s:element>

      <s:element name="SubtractResponse">

        <s:complexType>

          <s:sequence>

            <s:element minOccurs="1" maxOccurs="1" name="SubtractResult" type="s:float" />

          </s:sequence>

        </s:complexType>

      </s:element>

      <s:element name="Multiply">

        <s:complexType>

          <s:sequence>

            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:float" />

            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:float" />

          </s:sequence>

        </s:complexType>

      </s:element>

      <s:element name="MultiplyResponse">

        <s:complexType>

          <s:sequence>

            <s:element minOccurs="1" maxOccurs="1" name="MultiplyResult" type="s:float" />

          </s:sequence>

        </s:complexType>

      </s:element>

      <s:element name="Divide">

        <s:complexType>

          <s:sequence>

            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:float" />

            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:float" />

          </s:sequence>

        </s:complexType>

      </s:element>

      <s:element name="DivideResponse">

        <s:complexType>

          <s:sequence>

            <s:element minOccurs="1" maxOccurs="1" name="DivideResult" type="s:float" />

          </s:sequence>

        </s:complexType>

      </s:element>

      <s:element name="float" type="s:float" />

    </s:schema>

  </types>

  <message name="AddHttpGetIn">

    <part name="a" type="s:string" />

    <part name="b" type="s:string" />

  </message>

  <message name="AddHttpGetOut">

    <part name="Body" element="s0:float" />

  </message>

  <message name="SubtractHttpGetIn">

    <part name="a" type="s:string" />

    <part name="b" type="s:string" />

  </message>

  <message name="SubtractHttpGetOut">

    <part name="Body" element="s0:float" />

  </message>

  <message name="MultiplyHttpGetIn">

    <part name="a" type="s:string" />

    <part name="b" type="s:string" />

  </message>

  <message name="MultiplyHttpGetOut">

    <part name="Body" element="s0:float" />

  </message>

  <message name="DivideHttpGetIn">

    <part name="a" type="s:string" />

    <part name="b" type="s:string" />

  </message>

  <message name="DivideHttpGetOut">

    <part name="Body" element="s0:float" />

  </message>

  <message name="AddHttpPostIn">

    <part name="a" type="s:string" />

    <part name="b" type="s:string" />

  </message>

  <message name="AddHttpPostOut">

    <part name="Body" element="s0:float" />

  </message>

  <message name="SubtractHttpPostIn">

    <part name="a" type="s:string" />

    <part name="b" type="s:string" />

  </message>

  <message name="SubtractHttpPostOut">

    <part name="Body" element="s0:float" />

  </message>

  <message name="MultiplyHttpPostIn">

    <part name="a" type="s:string" />

    <part name="b" type="s:string" />

  </message>

  <message name="MultiplyHttpPostOut">

    <part name="Body" element="s0:float" />

  </message>

  <message name="DivideHttpPostIn">

    <part name="a" type="s:string" />

    <part name="b" type="s:string" />

  </message>

  <message name="DivideHttpPostOut">

    <part name="Body" element="s0:float" />

  </message>

  <portType name="MathServiceHttpGet">

    <operation name="Add">

      <input message="s0:AddHttpGetIn" />

      <output message="s0:AddHttpGetOut" />

    </operation>

    <operation name="Subtract">

      <input message="s0:SubtractHttpGetIn" />

      <output message="s0:SubtractHttpGetOut" />

    </operation>

    <operation name="Multiply">

      <input message="s0:MultiplyHttpGetIn" />

      <output message="s0:MultiplyHttpGetOut" />

    </operation>

    <operation name="Divide">

      <input message="s0:DivideHttpGetIn" />

      <output message="s0:DivideHttpGetOut" />

    </operation>

  </portType>

  <portType name="MathServiceHttpPost">

    <operation name="Add">

      <input message="s0:AddHttpPostIn" />

      <output message="s0:AddHttpPostOut" />

    </operation>

    <operation name="Subtract">

      <input message="s0:SubtractHttpPostIn" />

      <output message="s0:SubtractHttpPostOut" />

    </operation>

    <operation name="Multiply">

      <input message="s0:MultiplyHttpPostIn" />

      <output message="s0:MultiplyHttpPostOut" />

    </operation>

    <operation name="Divide">

      <input message="s0:DivideHttpPostIn" />

      <output message="s0:DivideHttpPostOut" />

    </operation>

  </portType>

  <binding name="MathServiceHttpGet" type="s0:MathServiceHttpGet">

    <http:binding verb="GET" />

    <operation name="Add">

      <http:operation location="/Add" />

      <input>

        <http:urlEncoded />

      </input>

      <output>

        <mime:mimeXml part="Body" />

      </output>

    </operation>

    <operation name="Subtract">

      <http:operation location="/Subtract" />

      <input>

        <http:urlEncoded />

      </input>

      <output>

        <mime:mimeXml part="Body" />

      </output>

    </operation>

    <operation name="Multiply">

      <http:operation location="/Multiply" />

      <input>

        <http:urlEncoded />

      </input>

      <output>

        <mime:mimeXml part="Body" />

      </output>

    </operation>

    <operation name="Divide">

      <http:operation location="/Divide" />

      <input>

        <http:urlEncoded />

      </input>

      <output>

        <mime:mimeXml part="Body" />

      </output>

    </operation>

  </binding>

  <binding name="MathServiceHttpPost" type="s0:MathServiceHttpPost">

    <http:binding verb="POST" />

    <operation name="Add">

      <http:operation location="/Add" />

      <input>

        <mime:content type="application/x-www-form-urlencoded" />

      </input>

      <output>

        <mime:mimeXml part="Body" />

      </output>

    </operation>

    <operation name="Subtract">

      <http:operation location="/Subtract" />

      <input>

        <mime:content type="application/x-www-form-urlencoded" />

      </input>

      <output>

        <mime:mimeXml part="Body" />

      </output>

    </operation>

    <operation name="Multiply">

      <http:operation location="/Multiply" />

      <input>

        <mime:content type="application/x-www-form-urlencoded" />

      </input>

      <output>

        <mime:mimeXml part="Body" />

      </output>

    </operation>

    <operation name="Divide">

      <http:operation location="/Divide" />

      <input>

        <mime:content type="application/x-www-form-urlencoded" />

      </input>

      <output>

        <mime:mimeXml part="Body" />

      </output>

    </operation>

  </binding>

  <service name="MathService">

    <port name="MathServiceHttpGet" binding="s0:MathServiceHttpGet">

      <http:address location="http://localhost/quickstart/aspplus/samples/services/MathService/CS/MathService.vb.asmx" />

    </port>

    <port name="MathServiceHttpPost" binding="s0:MathServiceHttpPost">

      <http:address location="http://localhost/quickstart/aspplus/samples/services/MathService/CS/MathService.vb.asmx" />

    </port>

  </service>

</definitions>