samples/snippets/visualbasic/VS_Snippets_Remoting/MimePartCollection_1/VB/MimePartCollection_1_Input_vb.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:s0="http://tempuri.org/" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddNumbers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="firstNumber" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="secondNumber" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNumbersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddNumbersResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="int" type="s:int" />
    </s:schema>
  </types>
  <message name="AddNumbersSoapIn">
    <part name="parameters" element="s0:AddNumbers" />
  </message>
  <message name="AddNumbersSoapOut">
    <part name="parameters" element="s0:AddNumbersResponse" />
  </message>
  <message name="AddNumbersHttpGetIn">
    <part name="firstNumber" type="s:string" />
    <part name="secondNumber" type="s:string" />
  </message>
  <message name="AddNumbersHttpGetOut">
    <part name="Body" element="s0:int" />
  </message>
  <message name="AddNumbersHttpPostIn">
    <part name="firstNumber" type="s:string" />
    <part name="secondNumber" type="s:string" />
  </message>
  <message name="AddNumbersHttpPostOut">
    <part name="Body" element="s0:int" />
  </message>
  <portType name="MimeServiceSoap">
    <operation name="AddNumbers">
      <input message="s0:AddNumbersSoapIn" />
      <output message="s0:AddNumbersSoapOut" />
    </operation>
  </portType>
  <portType name="MimeServiceHttpGet">
    <operation name="AddNumbers">
      <input message="s0:AddNumbersHttpGetIn" />
      <output message="s0:AddNumbersHttpGetOut" />
    </operation>
  </portType>
  <portType name="MimeServiceHttpPost">
    <operation name="AddNumbers">
      <input message="s0:AddNumbersHttpPostIn" />
      <output message="s0:AddNumbersHttpPostOut" />
    </operation>
  </portType>
  <binding name="MimeServiceSoap" type="s0:MimeServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="AddNumbers">
      <soap:operation soapAction="http://tempuri.org/AddNumbers" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="MimeServiceHttpGet" type="s0:MimeServiceHttpGet">
    <http:binding verb="GET" />
    <operation name="AddNumbers">
      <http:operation location="/AddNumbers" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="MimeServiceHttpPost" type="s0:MimeServiceHttpPost">
    <http:binding verb="POST" />
    <operation name="AddNumbers">
      <http:operation location="/AddNumbers" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:multipartRelated>
          <mime:part>
            <mime:mimeXml part="body" />
          </mime:part>
        </mime:multipartRelated>
      </output>
    </operation>
  </binding>
  <service name="MimeService">
    <port name="MimeServiceSoap" binding="s0:MimeServiceSoap">
      <soap:address location="http://localhost/MimePart_3_Service_vb.asmx" />
    </port>
    <port name="MimeServiceHttpGet" binding="s0:MimeServiceHttpGet">
      <http:address location="http://localhost/MimePart_3_Service_vb.asmx" />
    </port>
    <port name="MimeServiceHttpPost" binding="s0:MimeServiceHttpPost">
      <http:address location="http://localhost/MimePart_3_Service_vb.asmx" />
    </port>
  </service>
</definitions>