samples/snippets/visualbasic/VS_Snippets_Remoting/ServiceDescription_Imports_Service/VB/ServiceDescription_Imports_Input_VB.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:s0="http://tempuri.org/" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Add">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="int" type="s:int" />
    </s:schema>
  </types>
  <message name="AddSoapIn">
    <part name="parameters" element="s0:Add" />
  </message>
  <message name="AddSoapOut">
    <part name="parameters" element="s0:AddResponse" />
  </message>
  <message name="AddHttpGetIn">
    <part name="a" type="s:string" />
    <part name="b" type="s:string" />
  </message>
  <message name="AddHttpGetOut">
    <part name="Body" element="s0:int" />
  </message>
  <message name="AddHttpPostIn">
    <part name="a" type="s:string" />
    <part name="b" type="s:string" />
  </message>
  <message name="AddHttpPostOut">
    <part name="Body" element="s0:int" />
  </message>
  <portType name="ServiceDescriptionServiceSoap">
    <operation name="Add">
      <input message="s0:AddSoapIn" />
      <output message="s0:AddSoapOut" />
    </operation>
  </portType>
  <portType name="ServiceDescriptionServiceHttpGet">
    <operation name="Add">
      <input message="s0:AddHttpGetIn" />
      <output message="s0:AddHttpGetOut" />
    </operation>
  </portType>
  <portType name="ServiceDescriptionServiceHttpPost">
    <operation name="Add">
      <input message="s0:AddHttpPostIn" />
      <output message="s0:AddHttpPostOut" />
    </operation>
  </portType>
  <binding name="ServiceDescriptionServiceSoap" type="s0:ServiceDescriptionServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="Add">
      <soap:operation soapAction="http://tempuri.org/Add" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="ServiceDescriptionServiceHttpGet" type="s0:ServiceDescriptionServiceHttpGet">
    <http:binding verb="GET" />
    <operation name="Add">
      <http:operation location="/Add" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="ServiceDescriptionServiceHttpPost" type="s0:ServiceDescriptionServiceHttpPost">
    <http:binding verb="POST" />
    <operation name="Add">
      <http:operation location="/Add" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="ServiceDescriptionService">
    <port name="ServiceDescriptionServiceSoap" binding="s0:ServiceDescriptionServiceSoap">
      <soap:address location="http://localhost/ServiceDescription_Imports/ServiceDescription_Imports_Service.vb.asmx" />
    </port>
    <port name="ServiceDescriptionServiceHttpGet" binding="s0:ServiceDescriptionServiceHttpGet">
      <http:address location="http://localhost/ServiceDescription_Imports/ServiceDescription_Imports_Service.vb.asmx" />
    </port>
    <port name="ServiceDescriptionServiceHttpPost" binding="s0:ServiceDescriptionServiceHttpPost">
      <http:address location="http://localhost/ServiceDescription_Imports/ServiceDescription_Imports_Service.vb.asmx" />
    </port>
  </service>
</definitions>