samples/snippets/xml/VS_Snippets_Data/Classic Webdata XmlSchemaPatternFacet Example/XML/example.xsd

<!--<Snippet2>-->
<?xml version="1.0" encoding="IBM437"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:simpleType name="ZipCodeType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{5}(-[0-9]{4})?"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="Address">
		<xs:complexType>
			<xs:attribute name="ZipCode" type="ZipCodeType"/>
		</xs:complexType>
	</xs:element>
	
</xs:schema>
<!--</Snippet2>-->