samples/snippets/csharp/VS_Snippets_Wpf/BindToWebService/CSharp/Web References/com.microsoft.msdn.services/contentservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<ws:definitions xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:relationshipCat="urn:microsoft-public-syndication/relationshipcontent/category" xmlns:metaCat="urn:microsoft-public-syndication/metacontent/category" xmlns:sc="urn:msdn-com:public-content-syndication/2006/09/common" xmlns:this="urn:msdn-com:public-content-syndication" xmlns:p="urn:mtpg-com:mtps/2004/1/primary" xmlns:mainCat="urn:microsoft-public-syndication/maincontent/category" xmlns:i="urn:mtpg-com:mtps/2004/1/image" xmlns:k="urn:mtpg-com:mtps/2004/1/key" xmlns:primaryCat="urn:mtpg-com:mtps/2004/1/primary/category" xmlns:docinfoCat="urn:microsoft-public-syndication/docinfo/category" xmlns:binaryCat="urn:microsoft-public-syndication/binarycontent/category" xmlns:c="urn:mtpg-com:mtps/2004/1/common" xmlns:f="urn:mtpg-com:mtps/2004/1/feature" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:imageCat="urn:mtpg-com:mtps/2004/1/image/category" xmlns:extendedcontent="urn:microsoft-public-syndication/extendedcontent" xmlns:featureCat="urn:mtpg-com:mtps/2004/1/feature/category" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="urn:msdn-com:public-content-syndication" targetNamespace="urn:msdn-com:public-content-syndication" xmlns:ws="http://schemas.xmlsoap.org/wsdl/">
  <ws:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="urn:msdn-com:public-content-syndication">
      <xs:import schemaLocation="schemas/urn_mtpg_com_mtps_2004_1_key_atoms.xsd" namespace="urn:mtpg-com:mtps/2004/1/key" />
      <xs:import schemaLocation="schemas/urn_mtpg_com_mtps_2004_1_common_default.xsd" namespace="urn:mtpg-com:mtps/2004/1/common" />
      <xs:import schemaLocation="schemas/urn_mtpg_com_mtps_2004_1_primary_default.xsd" namespace="urn:mtpg-com:mtps/2004/1/primary" />
      <xs:import schemaLocation="schemas/urn_mtpg_com_mtps_2004_1_image_default.xsd" namespace="urn:mtpg-com:mtps/2004/1/image" />
      <xs:import schemaLocation="schemas/urn_mtpg_com_mtps_2004_1_feature_default.xsd" namespace="urn:mtpg-com:mtps/2004/1/feature" />
      <xs:import schemaLocation="schemas/urn_msdn_com_public_content_syndication_2006_09_common.xsd" namespace="urn:msdn-com:public-content-syndication/2006/09/common" />
      <xs:simpleType name="documentTypes">
        <xs:restriction base="xs:string">
          <xs:enumeration value="primary" />
          <xs:enumeration value="common" />
          <xs:enumeration value="image" />
          <xs:enumeration value="feature" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="availableVersionsAndLocales">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="availableVersionAndLocale" type="this:availableVersionAndLocale" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="availableVersionAndLocale">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" ref="k:locale" />
          <xs:element minOccurs="1" maxOccurs="1" ref="k:version" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mtpsFaultDetailType">
        <xs:sequence>
          <xs:element name="eventId" type="xs:string" />
          <xs:element name="source" type="xs:string" />
          <xs:element name="helpLink" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="navigationKey">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" ref="k:contentId" />
          <xs:element minOccurs="1" maxOccurs="1" ref="k:locale" />
          <xs:element minOccurs="1" maxOccurs="1" ref="k:version" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="navigationPath">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="navigationPathNodes" type="this:navigationPathNodes" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="navigationPaths">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="navigationPath" type="this:navigationPath" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="navigationPathNode">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="title" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="isPhantom" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="navigationNodeKey" type="this:navigationKey" />
          <xs:element minOccurs="1" maxOccurs="1" name="contentNodeKey" type="this:navigationKey" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="navigationPathNodes">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="navigationPathNode" type="this:navigationPathNode" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="requestedDocument">
        <xs:attribute name="selector" type="xs:string" use="required" />
        <xs:attribute name="type" type="this:documentTypes" use="required" />
      </xs:complexType>
      <xs:element name="getContentRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="contentIdentifier" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" ref="k:locale" />
            <xs:element minOccurs="0" maxOccurs="1" ref="k:version" />
            <xs:element name="requestedDocuments">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="requestedDocument" type="this:requestedDocument" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getContentResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" ref="k:contentId" />
            <xs:element minOccurs="1" maxOccurs="1" ref="k:contentGuid" />
            <xs:element minOccurs="0" maxOccurs="1" ref="k:contentAlias" />
            <xs:element minOccurs="0" maxOccurs="1" ref="k:locale" />
            <xs:element minOccurs="0" maxOccurs="1" ref="k:version" />
            <xs:element name="availableVersionsAndLocales" type="this:availableVersionsAndLocales" />
            <xs:element name="primaryDocuments">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" ref="p:primary" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="imageDocuments">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" ref="i:image" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="commonDocuments">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" ref="c:common" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="featureDocuments">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" ref="f:feature" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getNavigationPathsRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="root" type="this:navigationKey" />
            <xs:element name="target" type="this:navigationKey" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getNavigationPathsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="navigationPaths" type="this:navigationPaths" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="mtpsFaultDetail" type="this:mtpsFaultDetailType" />
    </xs:schema>
  </ws:types>
  <ws:message name="AppID">
    <ws:part name="AppID" element="sc:appId" />
  </ws:message>
  <ws:message name="MtpsFaultDetail">
    <ws:part name="data" element="this:mtpsFaultDetail" />
  </ws:message>
  <ws:message name="GetContentRequest">
    <ws:part name="data" element="this:getContentRequest" />
  </ws:message>
  <ws:message name="GetContentResponse">
    <ws:part name="data" element="this:getContentResponse" />
  </ws:message>
  <ws:message name="GetNavigationPathsRequest">
    <ws:part name="data" element="this:getNavigationPathsRequest" />
  </ws:message>
  <ws:message name="GetNavigationPathsResponse">
    <ws:part name="data" element="this:getNavigationPathsResponse" />
  </ws:message>
  <ws:portType name="ContentServicePortType">
    <ws:operation name="GetContent">
      <ws:input message="this:GetContentRequest" />
      <ws:output message="this:GetContentResponse" />
      <ws:fault name="error" message="this:MtpsFaultDetail" />
    </ws:operation>
    <ws:operation name="GetNavigationPaths">
      <ws:input message="this:GetNavigationPathsRequest" />
      <ws:output message="this:GetNavigationPathsResponse" />
      <ws:fault name="error" message="this:MtpsFaultDetail" />
    </ws:operation>
  </ws:portType>
  <ws:binding name="ContentServiceBinding" type="this:ContentServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <ws:operation name="GetContent">
      <soap:operation ws:required="true" soapAction="urn:msdn-com:public-content-syndication/GetContent" style="document" />
      <ws:input>
        <soap:body use="literal" />
        <soap:header message="this:AppID" part="AppID" use="literal" />
      </ws:input>
      <ws:output>
        <soap:body use="literal" />
      </ws:output>
      <ws:fault name="error">
        <soap:fault use="literal" name="error" namespace="" />
      </ws:fault>
    </ws:operation>
    <ws:operation name="GetNavigationPaths">
      <soap:operation ws:required="true" soapAction="urn:msdn-com:public-content-syndication/GetNavigationPaths" style="document" />
      <ws:input>
        <soap:body use="literal" />
        <soap:header message="this:AppID" part="AppID" use="literal" />
      </ws:input>
      <ws:output>
        <soap:body use="literal" />
      </ws:output>
      <ws:fault name="error">
        <soap:fault use="literal" name="error" namespace="" />
      </ws:fault>
    </ws:operation>
  </ws:binding>
  <ws:binding name="ContentServiceBinding12" type="this:ContentServicePortType">
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <ws:operation name="GetContent">
      <wsoap12:operation soapAction="urn:msdn-com:public-content-syndication/GetContent" style="document" soapActionRequired="true" />
      <ws:input>
        <wsoap12:body use="literal" />
        <wsoap12:header part="AppID" />
      </ws:input>
      <ws:output>
        <wsoap12:body use="literal" />
      </ws:output>
      <ws:fault name="error">
        <wsoap12:fault use="literal" name="error" namespace="" />
      </ws:fault>
    </ws:operation>
    <ws:operation name="GetNavigationPaths">
      <wsoap12:operation soapAction="urn:msdn-com:public-content-syndication/GetNavigationPaths" style="document" soapActionRequired="true" />
      <ws:input>
        <wsoap12:body use="literal" />
        <wsoap12:header part="AppID" />
      </ws:input>
      <ws:output>
        <wsoap12:body use="literal" />
      </ws:output>
      <ws:fault name="error">
        <wsoap12:fault use="literal" name="error" namespace="" />
      </ws:fault>
    </ws:operation>
  </ws:binding>
  <ws:service name="ContentService">
    <ws:port name="ContentService" binding="this:ContentServiceBinding">
      <soap:address location="http://services.msdn.microsoft.com/ContentServices/ContentService.asmx" />
    </ws:port>
    <ws:port name="ContentService12" binding="this:ContentServiceBinding12">
      <wsoap12:address location="http://services.msdn.microsoft.com/ContentServices/ContentService.asmx" />
    </ws:port>
  </ws:service>
</ws:definitions>